.App {
  max-width: 700px;
  margin: 40px auto;

}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button.active {
  border: 2px solid #ffffff;
  background-color: #c23866;
}

.magic-match {
  text-align: center;
  color: white;
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-game {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

